/* ______________

COLOR

__________________*/

:root {
    --dark-acqua: #2c3e50;
    --acqua: #1abc9c;
    --sand: #ccb2a3;
}

/* ______________

TYPO

__________________*/

/* ______________

VARIABLES

__________________*/

/* ______________

UTILITIES CLASSES

__________________*/