
/* ______________

TABLET: <=1120px

__________________*/


@media screen and (min-width: 1120px) {
    nav ul {
        display: initial;
    }
    nav button {
        display: none;
    }
}

/* ______________

DESKTOP: >1651PX

__________________*/

