/* ______________

COMMON

__________________*/

body {
    color: white;
}

.star-hr {
    width: 40%;
}

.star-hr>div {
    border: .125rem solid white;
}

.star-hr>*{
    color: inherit;
}

a {
    color: inherit;
}


.btn{
    border-color: white;
    color: white;
}

.btn:hover {
    color: white;
}

/* ______________

HEADER

__________________*/

header {
    background-color: var(--dark-acqua);
}

nav {
    min-height: 5.625rem;
}

nav ul {
    display: none;
}

/* ______________

MAIN

__________________*/

main section {
    padding: 2.5rem 0;
}

/* jumbotron */

#jumbotron {
    background-color: var(--acqua);
}

#jumbotron li{
    background-color: inherit;
    border: 0;
    color: white;
}

#jumbotron .img-box {
    width: 14.375rem;
    height: 14.375rem;
}

/* portfolio */

#portfolio {
    color: var(--dark-acqua);
}

#portfolio .star-hr>div {
    border: .125rem solid var(--dark-acqua);
}

/* about */

#about  {
    background-color: var(--acqua);
}

#about  .btn:hover {
    background-color: var(--dark-acqua);
}

/* contact */


/* ______________

FOOTER

__________________*/

footer section{
    padding: 2.5rem 0;
}

/* footer-top*/

#footer-top {
    background-color: var(--l-dark-acqua);
}

#footer-top li{
    background-color: inherit;
    border: 0;

}

#footer-top .btn {
    width: 3.4375rem;
    height: 3.4375rem;
}

#footer-top .btn:hover {
    background-color: var(--acqua);
}

/* footer-bottom*/

#footer-bottom {
    background-color: var(--dark-acqua);
}