/* ______________

COMMON

__________________*/

/* ______________

DEBUG

__________________*/

.debug nav {
    background-color: brown;
}

.debug nav>* {
    background-color: blue;
}

/* ______________

HEADER

__________________*/

header {
    background-color: var(--dark-acqua);
}

nav {
    min-height: 5.625rem;
}

nav ul {
    display: none;
}

/* ______________

MAIN

__________________*/

main section {
    padding: 2.5rem 0;
}

/* jumbotron */

#jumbotron {
    background-color: var(--acqua);
}

/* portfolio */


/* about */

#about  {
    background-color: var(--acqua);
}

/* contact */


/* ______________

FOOTER

__________________*/

footer section{
    padding: 2.5rem 0;
}

/* footer-top*/

#footer-top {
    background-color: var(--l-dark-acqua);
}

/* footer-bottom*/

#footer-top {
    background-color: var(--dark-acqua);
}