/* ______________

COMMON

__________________*/

/* ______________

DEBUG

__________________*/

.debug nav {
    background-color: brown;
}

.debug nav>* {
    background-color: blue;
}

/* ______________

HEADER

__________________*/

header {
    background-color: var(--dark-acqua);
}

nav {
    min-height: 5.625rem;
}

nav ul {
    display: none;
}

/* ______________

MAIN

__________________*/

main section {
    margin: 5rem 0;
}

/* jumbotron */

#jumbotron {
    background-color: var(--acqua);
}

/* portfolio */


/* about */

/* contact */

/* ______________

FOOTER

__________________*/

/* footer-top*/


/* footer-bottom*/